/* * */
textarea {
    resize: none;
}

/* Entry Screen */
#entryScreen {
    display: block;
}

/* Specify Size Screen */
#specifySizeScreen {
    display: none;
}

/* Existing Save Screen */
#existingSaveScreen {
    display: none;
}

/* Picture Screen */
#pictureScreen {
    display: none;
    width: 30%;
    margin: 0 auto;
    border: 1px solid green; 
    padding: 0 10%;
}

#pictureTitle {
    text-align: center;
}

#drawingTitle {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}

.container img {
    width: auto;         
    height: auto;        
    max-width: 100%;     
    max-height: 95%;
}

.textBox {
    width: auto;
    height: auto;
    width: 70%;
    height: 75%;
    resize: none;
    overflow: auto;
    columns: 1;
    font-size: 150%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.textBox:focus {
    outline: none;
}

.col {
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.drawingElements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
}

.drawingElements div {
    border: 1px solid black;
    width: 50%;
    height: 95%;
    aspect-ratio: 1/1;
}

#textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


#arrow img {
    width: auto;       
    height: auto;        
    max-width: 100%;     
    max-height: 100%;
}

#deleteElement {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}


