/* * */
textarea {
    resize: none;
}
body {
    background-color: lightgray;
}

/* Entry Screen */
#entryScreen {
    display: block;
    width: 30%;
    margin: 0 auto;
    outline: 3px solid black; 
    padding: 1rem 10rem 5rem 10rem;
    text-align: center;
    background-color: white;
}

#entryScreen h1 { 
    margin: 0;
    font-size: 4em;
}

#entryScreenButton {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1rem;
}

#entryScreenButton button {
    font-size: 1em;
    border: none;
    color: white;
    padding: 1rem 2rem;
    opacity: 0.6;
    cursor: pointer;
    background-color: blue;
    border-radius: 0.5em;
}

#entryScreenButton button:hover {
    opacity: 1;
}


/* Specify Size Screen */
#specifySizeScreen {
    display: none;
}

/* Existing Save Screen */
#existingSaveScreen {
    display: none;
    width: 50%;
    margin: 0 auto;
    outline: 3px solid black; 
    background-color: white;
    padding: 2rem 2rem;
}

#listSaves {
    /* outline: red 2px solid; */
    width: 90%;
    outline: 2px solid black;
    margin: 0 auto;
}

#listSaves thead {
    text-align: left;
    font-size: 2.5rem;
    text-align: center;
}

#listSaves tbody {
    /* outline: 2px solid green; */
    font-size: 2em;
    text-align: center;
}

#listSaves th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: blue;
    opacity: 0.6;
    color: white;
  }

#listSaves tr:nth-child(even){background-color: #f2f2f2;}

.playButton button, .deleteButton button {
    border-radius: 0.6em;
    font-size: 0.7em;
}






/* Picture Screen */
#pictureScreen {
    display: none;
    width: 30%;
    margin: 0 auto;
    border: 1px solid green; 
    padding: 0 10%;
}

#pictureTitle {
    text-align: center;
}

#drawingTitle {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}

.container img {
    width: auto;         
    height: auto;        
    max-width: 100%;     
    max-height: 95%;
}

.textBox {
    width: auto;
    height: auto;
    width: 70%;
    height: 75%;
    resize: none;
    overflow: auto;
    columns: 1;
    font-size: 150%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.textBox:focus {
    outline: none;
}

.col {
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.drawingElements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
}

.drawingElements div {
    border: 1px solid black;
    width: 50%;
    height: 95%;
    aspect-ratio: 1/1;
}

#textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


#arrow img {
    width: auto;       
    height: auto;        
    max-width: 100%;     
    max-height: 100%;
}

#deleteElement {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}


